<%- include("partials/header.ejs") %>
    <h2>About Me</h2>
    <img class="profile" src="images/cat.jpeg" alt="cat profile">
    <p class="para">
        As a full stack developer, I have extensive experience working with a wide range of technologies. I thrive on the challenge of building robust, scalable applications from the ground up, ensuring seamless user experiences and efficient backend operations.</p>
    <p> In addition to my technical skills, photography is a significant passion of mine. Capturing moments through the lens offers a different kind of fulfillment, allowing me to express creativity and share stories visually.
    </p>
    <%- include("partials/footer.ejs") %>