<%- include("partials/header.ejs") %>


    <h2>Home Page</h3>

        <p>Hello! I'm Gajanan Joshi, a dedicated and passionate full stack developer and photographer. This unique combination of skills allows me to approach problem-solving and creativity from diverse perspectives, crafting innovative solutions and capturing
            the beauty of the world around me.
        </p>
        <p>
            As a full stack developer, I have extensive experience working with a wide range of technologies. I thrive on the challenge of building robust, scalable applications from the ground up, ensuring seamless user experiences and efficient backend operations.
            I am always excited to connect with new people, whether it’s to collaborate on a project, discuss potential opportunities, or simply share insights. Feel free to reach out to me via email or connect with me on LinkedIn.</p>

        <h6>Email: gajananjoshi0601@gmail.com</h6>
        <h6>LinkedIn: Gajanan Joshi</h6>
        <p>Thank you for visiting my portfolio. I look forward to engaging with you and exploring how we can create something amazing together.
        </p>

        <%- include("partials/footer.ejs") %>